* {
  box-sizing: border-box;
}

.forecast-card {
  width: 18rem;
  background-color: #1269bb;
  opacity: 0.8;
  color: #fff;
}

.list-group-item:hover {
  background-color: #1269bb;
  opacity: 1;
  color: white;
}

#current {
  background-color: #1269bb;
  opacity: 0.8;
  color: white;
}

#search-button {
  background-color: #1269bb;
  color: white;
}
